.homepage {
  &__container {
    &__content {
      padding: 10rem 5rem;

      @include respond(tab-land) {
        padding: 0;
      }

      &__hero {
        width: 50%;
        margin: auto;

        @include respond(tab-land) {
          padding: 5rem 0;
          width: 80%;
        }

        @include respond(tab-port) {
          width: 90%;
        }

        @include respond(phone) {
          width: 95%;
        }

        &__content {
          &__heading {
            font-size: 6rem;
            font-weight: 800;
            text-align: center;

            @include respond(phone) {
              font-size: 5rem;
              font-weight: 800;
            }
          }

          &__paragraph {
            width: 75%;
            margin: 1rem auto;
            text-align: center;
          }
        }

        &__action {
          margin: 3rem 0;
          &__buttons {
            display: flex;
            justify-content: center;

            &__primary {
              background-color: $color-primary;
              color: $color-white;
              border: 2px solid $color-primary;
              box-shadow: 3px 3px 10px #bbbbbb;
            }
            &__secondary {
              background-color: transparent;
              border: 2px solid $color-secondary;
              color: $color-secondary;
            }
          }
        }
      }

      &__footer {
        margin: 10rem 0 0 0;

        @include respond(tab-land) {
          margin: 0;
          padding: 5rem 0;
        }

        &__content {
          background-color: $color-secondary;
          box-shadow: 3px 3px 20px #bbbbbb;
          padding: 6rem 0;
          border-radius: 10px;
          width: 80%;
          margin: auto;
          display: flex;
          justify-content: space-evenly;

          @include respond(tab-land) {
            width: 90%;
            padding: 5rem 0;
            flex-direction: column;
            align-items: center;
          }

          @include respond(phone) {
            width: 100%;
            border-radius: 0;
            padding: 3rem 0 7rem 0;
          }

          &__text {
            @include respond(tab-port) {
              padding: 0 3rem;
            }

            &__heading {
              @include respond(tab-port) {
                text-align: center;
              }
            }

            &__paragraph {
              color: $color-grey;

              @include respond(tab-port) {
                text-align: center;
              }
            }
          }

          &__action {
            width: 35%;
            display: flex;
            justify-content: space-between;

            @include respond(tab-land) {
              width: 50%;
              padding: 2rem 0 0 0;
              justify-content: space-evenly;
            }

            @include respond(tab-port) {
              width: 70%;
            }

            @include respond(phone) {
              width: 90%;
              flex-direction: column;
            }

            &__button {
              background-color: transparent;
              border: 2px solid $color-white;
              color: $color-white;

              &__primary {
                background-color: $color-primary;
                color: $color-white;
                border: 2px solid $color-primary;

                @include respond(phone) {
                  margin: 0 0 1rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
