.homepage {
  &__container {
    &__content {
      padding: 10rem 5rem;

      &__hero {
        width: 60%;
        margin: auto;

        &__content {
          &__heading {
            font-size: 6rem;
            font-weight: 800;
            text-align: center;
          }

          &__paragraph {
            width: 75%;
            margin: 1rem auto;
            text-align: center;
          }
        }

        &__action {
          margin: 3rem 0;
          &__buttons {
            display: flex;
            justify-content: center;

            &__primary {
              background-color: $color-primary;
              color: $color-white;
              border: 2px solid $color-primary;
              margin: 0 2rem 0 0;
            }
            &__secondary {
              background-color: transparent;
              border: 2px solid $color-secondary;
              color: $color-secondary;
            }
          }
        }
      }

      &__footer {
        margin: 10rem 0 0 0 ;
        
        &__content {
          background-color: $color-secondary;
          box-shadow: 3px 3px 20px #bbbbbb;
          padding: 5rem 0;
          border-radius: 10px;
          width: 50%;
          margin: auto;
          display: flex;
          justify-content: space-evenly;

          &__text {
            &__heading {

            }

            &__paragraph {
              color: $color-grey;
            }
          }

          &__action {
            &__button {
              background-color: transparent;
              border: 2px solid $color-white;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}
