.raiserequest {
  &__container {
    &__content {
      padding: 5rem;

      &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__paragraph {
          margin: 0.5rem 0 0 0;
        }
      }

      &__main {
        width: 30%;
        margin: auto;

        @include respond(tab-port) {
          width: 50%;
        }

        @include respond(phone) {
          width: 80%;
          padding: 3rem 0;
        }

        @include respond(small-phone) {
          width: 90%;
          padding: 3rem 0;
        }

        &__form {
          @include respond(tab-land) {
            width: 100%;
            margin: auto;
          }

          &__group {
          }

          &__label {
          }

          &__input {
          }

          &__paragraph {
            font-size: 1.3rem;
            align-self: baseline;
          }

          &__error {
            text-align: center;
          }
        }
      }
    }
  }
}
