.viewplasmausers {
    &__container {
      &__content {
        padding: 5rem;
  
        &__header {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          &__paragraph {
            margin: 0.5rem 0 0 0;
          }
        }
  
        &__main {
          width: 50%;
          margin: auto;
  
          &__form {
            width: 50%;
            margin: 2rem auto;
  
            &__group {
            }
  
            &__label {
            }
  
            &__input {
            }
  
            &__paragraph {
              font-size: 1.3rem;
              align-self: baseline;
            }
  
            &__error {
              text-align: center;
            }
          }
  
          &__results {
            padding: 3rem 0;
            &__container {
              &__items {
                display: grid;
                gap: 2rem;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  
                &__item {
                  border: 1px solid $color-primary;
                  box-shadow: 3px 3px 10px #d2ffe0;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 6rem 4rem;
  
                  &__content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 0 1rem 0;
  
                    &__subheading {
                      color: $color-black;
                    }
  
                    &__heading {
                      color: $color-secondary;
                    }
  
                    &__paragraph {
                      color: $color-black;
                    }
                  }
  
                  &__action {
                    padding: 2rem 0 0 0;
  
                    &__button {
                      &__primary {
                        background-color: $color-primary;
                        border: 2px solid $color-primary;
                        margin: 0 2rem 0 0;
                      }
  
                      background-color: transparent;
                      border: 2px solid $color-black;
                      color: $color-black;
                    }
                  }
  
                  
                }
              }
  
              &__result {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
  
                  &__text {
                      color: $color-black;
                  }
  
                  &__button {
                      margin: 1rem 0 0 0;
                      background-color: $color-black;

                      &__primary {
                        margin: 1rem 0 0 0;
                        background-color: $color-primary;
                      }
                  }
              }
            }
          }
        }
      }
    }
  }
  