.tasksuccess {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 6rem 8rem;
    border: 2px solid $color-primary;

    @include respond(phone) {
      padding: 3rem 1rem;
    }

    &__image {
      width: 15rem;
    }

    &__heading {
      margin: 2rem 0 0 0;
      text-align: center;
    }

    &__paragraph {
      margin: 1rem 0 0 0;
      text-align: center;
      font-size: 1.5rem;
    }

    &__button {
      margin: 2rem 0 0 0;
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
